@model Exportacao.Models.Movimentacao

@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Cadastrar</h1>

<h4>Movimentacao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <select asp-for="Tipo" class="form-control">
                    <option value="embarque">embarque</option>
                    <option value="descarga">descarga</option>
                    <option value="gate in">gate in</option>
                    <option value="gate out">gate out</option>
                    <option value="reposicionamento">reposicionamento</option>
                    <option value="pesagem">pesagem</option>
                    <option value="scanner">scanner</option>
                </select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inicio" class="control-label"></label>
                <input name="Inicio" asp-for="Inicio" class="form-control" />
                <span asp-validation-for="Inicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fim" class="control-label"></label>
                <input name="Fim" asp-for="Fim" class="form-control" />
                <span asp-validation-for="Fim" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-primary"><i class="fa fa-add"></i> Cadastrar</button>
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a class="btn btn-primary" asp-action="Index"><i class="fa-solid fa-angle-left"></i> Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function validaDatas(){
            var dataInicial = new Date($("input[name='Inicio']").val());
            var dataFinal = new Date($("input[name='Fim']").val());
            if (!dataInicial || !dataFinal) return false;
            if (dataInicial >= dataFinal) {
                alert("Data incorreta!");
                return false;
            }
            return true
        }
    </script>
}
